<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
</head>
<body>
<h2>Registration Form</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
  <div>
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}"/>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red;"></span>
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}"/>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red;"></span>
  </div>
  <div>
    <label>Phone Number:</label>
    <input type="text" th:field="*{phoneNumber}"/>
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color:red;"></span>
  </div>
  <div>
    <label>Age:</label>
    <input type="number" th:field="*{age}"/>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color:red;"></span>
  </div>
  <div>
    <label>Email:</label>
    <input type="email" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></span>
  </div>
  <button type="submit">Register</button>
</form>
</body>
</html>